
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Courses-BIU</a>
      <img src="../images/logo.jpg"/>
    </div>
    <ul class="nav navbar-nav" id="ls">
   

      <li routerLinkActive="active"><a routerLink="/signin" >User</a></li>
      <li routerLinkActive="active"><a routerLink="/signin-admin">Admin</a></li>
      <li routerLinkActive="active" ><a routerLink="/login">Sign Up</a></li>
  
    </ul>
  </div>
</nav>