.form-content
{
	text-align:center;
}

.uploadform
{
	 display:block;
}


.poster-display
{
	 text-align:center;
	
}

.poster
{
	 width:400px;
	 max-height: 400px
}

.inputimage
{
	border-radius: 5px;
	
}