<div class="container-fluid enclosed">
  <div class="row">
    <div class="Absolute-Center is-Responsive">
      <div id="logo-container"></div>
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <form action="" id="signinForm"  #form="ngForm" (ngSubmit)="submitadminsignin(form.value)">
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input class="form-control" type="text" name='adminid' placeholder="Admin ID" [(ngModel)]="namepasswordadmin.name" name="adminid" #adminid="ngModel" required/>          
          </div>
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input class="form-control" type="password" name='password' placeholder="password" [(ngModel)]="namepasswordadmin.password" name="password" #password="ngModel" required/>     
          </div>
          

          <div class="form-group" *ngIf=!(adminid.valid&&password.valid)>
            <button type="button" class="btn btn-def btn-block" disabled>Login</button>
          </div>
          <div class="form-group" *ngIf=(adminid.valid&&password.valid)>
            <button type="submit" class="btn btn-def btn-block">Login</button>
          </div>
          
          <div class="form-group text-center">
            <a href="#">Forgot Password</a>
          </div>
        </form>        
      </div> 

    </div>    

  </div>
<div class="alert alert-danger" *ngIf="htmlContent" [innerHTML]="htmlContent"></div>